.navbar {
  background-color: lightgray;
}

.navbar-list {
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 1.5em;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-link::after {
  content: "|";
  position: relative;
  left: 10px;
}

.navbar-link:last-child::after {
  content: "";
}